.cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--bleuClair);
  padding-top: 6rem;
}

.icon {
  color: var(--mainColor);
  padding-bottom: 2rem;
  font-size: 12rem;
}

.emailMsg {
  font-size: 1.3rem;
  font-weight: 600;
}

.description {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.5rem;
  margin-top: 2rem;
}

.cancel h2 {
  padding-top: 2rem;
  font-weight: 900;
  font-size: 3rem;
  color: var(--mainText);
  padding: 1rem;
}

.email {
  color: var(--mainColor);
}
